@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BeaufortforLOL-Medium';
  src: local('BeaufortforLOL-Medium'), url('./fonts/BeaufortforLOL-Medium.ttf') format('truetype');
  font-weight: normal;
}

* {
  --primary-clr: #d47559;
  --bg-clr: #111111;
  --text-clr: #fef6f3;
  --text-highlight-clr: #ffb60d;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BeaufortforLOL-Medium';
}

body {
  color: var(--text-clr);
  background: var(--bg-clr);
}
