@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BeaufortforLOL-Regular';
  src: local('BeaufortforLOL-Regular'), url('./fonts/BeaufortforLOL-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Spiegel_TT_Regular';
  src: local('Spiegel_TT_Regular'), url('./fonts/Spiegel_TT_Regular.ttf') format('truetype');
  font-weight: normal;
}

* {
  --head_font: 'BeaufortforLOL-Regular';
  --primary_font: 'Spiegel_TT_Regular';

  --primary_clr: #d47559;
  --bg_clr: #111111;
  --text_clr: #fef6f3;
  --text_highlight_clr: #ffb60d;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary_font);
}

body {
  color: var(--text_clr);
  background: var(--bg_clr);
}
